<div *ngIf="hasPermission(permissionApp.CRM_CATEGORY_01)">
  <page-header></page-header>
  <form [formGroup]="formSearch">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ 'contractSearch.title' | translate | uppercase }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-field-full">
              <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <div fxFlex="33.33" fxFlex.lt-sm="100">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'category.impactID' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'category.enter-impactID' | translate }}" formControlName="code"
                      #code autoFocus="code" />
                    <button mat-button *ngIf="formSearch.controls.code.value" class="showclear" matSuffix
                      mat-icon-button (click)="formSearch.controls.code.setValue(null); $event.stopPropagation()"
                      type="button">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div fxFlex="33.33" fxFlex.lt-sm="100">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'category.impactName' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'category.enter-impactName' | translate }}"
                      formControlName="name" />
                    <button mat-button *ngIf="formSearch.controls.name.value" class="showclear" matSuffix
                      mat-icon-button (click)="formSearch.controls.name.setValue(null); $event.stopPropagation()"
                      type="button">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div fxFlex="33.33" fxFlex.lt-sm="100">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'category.status' | translate }}</mat-label>
                    <mat-select formControlName="status">
                      <mat-option>{{ 'common.default-select' | translate }}</mat-option>
                      <ng-container *ngFor="let item of listStatus">
                        <mat-option [value]="item.code">{{item.value}}</mat-option>
                      </ng-container>
                    </mat-select>
                    <button *ngIf="formSearch.controls.status.value" matSuffix mat-icon-button type="button"
                      class="btn-clear-drop"
                      (click)="formSearch.controls.status.setValue(null); $event.stopPropagation();">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="form-field-full">
              <div fxLayout="row wrap" fxLayoutGap="20px grid">
                <div fxFlex="33.33" fxFlex.lt-sm="100">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'category.connectOCS' | translate }}</mat-label>
                    <mat-select formControlName="isOcs">
                      <mat-option>{{ 'common.default-select' | translate }}</mat-option>
                      <ng-container *ngFor="let item of listIsOcs">
                        <mat-option [value]="item.code">{{item.value}}</mat-option>
                      </ng-container>
                    </mat-select>
                    <button *ngIf="formSearch.controls.isOcs.value" matSuffix mat-icon-button type="button"
                      class="btn-clear-drop"
                      (click)="formSearch.controls.isOcs.setValue(null); $event.stopPropagation();">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div fxFlex="33.33" fxFlex.lt-sm="100">
                  <mat-form-field appearance="outline" class="common-field">
                    <mat-label>{{ 'search-information.obj-action' | translate }}</mat-label>
                    <mat-select formControlName="actObject">
                      <mat-option *ngFor="let act of actionObject" [value]="act.value">
                        {{ act.label}}
                      </mat-option>
                    </mat-select>
                    <button *ngIf="formSearch.controls.actObject.value" matSuffix mat-icon-button type="button"
                      class="btn-clear-drop"
                      (click)="formSearch.controls.actObject.setValue(null); $event.stopPropagation();">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="flex-end" fxLayoutGap="10px"
              fxLayoutGap.xs="0">
              <button mat-raised-button color="primary" style="margin-right: 8px;"
                (click)="onSearch()">{{'common.button.search' | translate}}</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-card>
            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="flex-end" fxLayoutGap="10px"
              fxLayoutGap.xs="0" style="margin-right: 8px !important;">
              <button mat-raised-button color="primary" (click)="addImpact()">
                {{'common.button.insert' | translate}}</button>
            </div>
            <common-list [headerTable]="'category.list-customer-impact'" [dataSource]="dataModel.dataSource"
              [columns]="columns" [totalRecord]="totalRecord" [isLoading]="isLoading" [isPaging]="true"
              [showHeader]="true" (page)="onPageChange($event)" [pageIndex]="pageIndex"
              [startRecord]="searchModel.startrecord">
              <custom-mat-column columnName='isOcs'>
                <ng-template let-row>
                  <mat-checkbox [checked]="row.isOcs" [disabled]="true"></mat-checkbox>
                </ng-template>
              </custom-mat-column>
              <custom-mat-column columnName='actObject'>
                <ng-template let-row>
                  <span
                    *ngIf="row.actObject == objAction.KHACHHANG">{{'search-information.custommer' | translate }}</span>
                  <span *ngIf="row.actObject == objAction.HOPDONG">{{'briefcase.button.contract' | translate }}</span>
                  <span
                    *ngIf="row.actObject == objAction.PHUONGTIEN">{{'search-information.vehicle' | translate }}</span>
                  <span *ngIf="row.actObject == objAction.THERFID">{{'search-information.rfid' | translate }}</span>
                </ng-template>
              </custom-mat-column>
              <custom-mat-column columnName='status'>
                <ng-template let-row>
                  <span *ngIf="row.status == status.HOATDONG"
                    style="color:blue;">{{'common.active' | translate }}</span>
                  <span *ngIf="row.status == status.KHONGHOATDONG"
                    style="color:red;">{{'common.deadActive' | translate }}</span>
                </ng-template>
              </custom-mat-column>
              <custom-mat-column columnName='actions'>
                <ng-template let-row>
                  <button mat-icon-button (click)="editImpact(row)">
                    <mat-icon svgIcon="ic_edit" matTooltip="{{'common.button.edit' | translate}}">
                    </mat-icon>
                  </button>
                </ng-template>
              </custom-mat-column>
            </common-list>
          </mat-card>
        </mat-accordion>
      </div>
    </div>
  </form>
</div>
<div *ngIf="!hasPermission(permissionApp.CRM_CATEGORY_01)">
  <error-code code="403" [title]="'common.invalid-permission-title'" [message]="'common.invalid-permission'">
  </error-code>
</div>
