.group-representative {
  ::ng-deep .mat-tab-body .mat-tab-body-active {
      overflow-x: hidden !important;
      overflow-y: hidden !important;
  }

  ::ng-deep .mat-tab-body-content{
      overflow: hidden !important;
  }
}
