<page-header></page-header>
<form [formGroup]="formSearch">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.lt-sm="100">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ 'contractSearch.title' | translate | uppercase }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-field-full">
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'contractSearch.contract-number' | translate }}</mat-label>
                  <input matInput #contractNo autoFocus="contractNo" formControlName="contractNo"
                    placeholder="{{ 'contractSearch.enter-contract-number' | translate }}" (keyup.enter)="onSearch()" />
                  <button mat-button *ngIf="formSearch.controls.contractNo.value" class="showclear" matSuffix
                    mat-icon-button (click)="formSearch.controls.contractNo.setValue(null); $event.stopPropagation()"
                    type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'contractSearch.license-plate' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'contractSearch.enter-license-plate' | translate }}"
                    formControlName="plateNumber" (keyup.enter)="onSearch()" />
                  <button mat-button *ngIf="formSearch.controls.plateNumber.value" class="showclear" matSuffix
                    mat-icon-button (click)="formSearch.controls.plateNumber.setValue(null); $event.stopPropagation()"
                    type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'contractSearch.phone' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'contractSearch.enter-phone' | translate }}"
                    formControlName="phoneNumber" (keyup.enter)="onSearch()" />
                  <button mat-button *ngIf="formSearch.controls.phoneNumber.value" class="showclear" matSuffix
                    mat-icon-button (click)="formSearch.controls.phoneNumber.setValue(null); $event.stopPropagation()"
                    type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="20px grid">
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'contractSearch.paper-number' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'contractSearch.enter-paper-number' | translate }}"
                    formControlName="documentNumber" (keyup.enter)="onSearch()" />
                  <button mat-button *ngIf="formSearch.controls.documentNumber.value" class="showclear" matSuffix
                    mat-icon-button
                    (click)="formSearch.controls.documentNumber.setValue(null); $event.stopPropagation()" type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'contractSearch.customer-number' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'contractSearch.enter-customer-number' | translate }}"
                    formControlName="custId" (keyup.enter)="onSearch()" />
                  <button mat-button *ngIf="formSearch.controls.custId.value" class="showclear" matSuffix
                    mat-icon-button (click)="formSearch.controls.custId.setValue(null); $event.stopPropagation()"
                    type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'contractSearch.customer-name' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'contractSearch.enter-customer-name' | translate }}"
                    formControlName="custName" (keyup.enter)="onSearch()" />
                  <button mat-button *ngIf="formSearch.controls.custName.value" class="showclear" matSuffix
                    mat-icon-button (click)="formSearch.controls.custName.setValue(null); $event.stopPropagation()"
                    type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="20px grid">
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'contractSearch.customer-type' | translate }}</mat-label>
                  <mat-select formControlName="custTypeId">
                    <mat-option>{{ 'common.default-select' | translate }}</mat-option>
                    <ng-container *ngFor="let item of listOptionCustomerType">
                      <mat-option [value]="item.code">{{item.value}}</mat-option>
                    </ng-container>
                  </mat-select>
                  <button *ngIf="formSearch.controls.custTypeId.value" matSuffix mat-icon-button type="button"
                    class="btn-clear-drop"
                    (click)="formSearch.controls.custTypeId.setValue(null); $event.stopPropagation();">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>

              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <mat-form-field appearance="outline">
                  <mat-label>{{'customer-management.formContractInfo.signDay' | translate}}</mat-label>
                  <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
                    <input matStartDate formControlName="startDate" #fromDateId maskDate [(ngModel)]="startDate"
                      placeholder="{{ 'common.fromDate' | translate }}" (keyup.enter)="onSearch()">
                    <input matEndDate formControlName="endDate" maskDate [(ngModel)]="endDate"
                      placeholder="{{ 'common.endDate' | translate }}" #endDateId (keyup.enter)="onSearch()">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix *ngIf="fromDateId.value || endDateId.value"
                    class="showclearDatePopup"
                    (click)="formSearch.controls.startDate.setValue(null);formSearch.controls.endDate.setValue(null); $event.stopPropagation()">
                    <mat-icon matDatepickerToggleIcon>close</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-error *ngIf="formSearch.controls.startDate.hasError('matStartDateInvalid')">
                    {{ 'customer.err_ResgiterFromDate' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="33.33" fxFlex.lt-sm="100">
                <button mat-raised-button color="primary" (click)="onSearch()"
                  style="float: right;">{{'common.button.search' | translate}}</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-card>
          <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="flex-end" fxLayoutGap="10px"
            fxLayoutGap.xs="0" style="margin-right: 8px !important;">
            <button mat-raised-button color="primary"
              routerLink="../../add-contract">{{'contractSearch.add-contract' | translate}}</button>
          </div>
          <common-list [headerTable]="'contract.title.list'" [dataSource]="dataModel.dataSource" [isPaging]="true"
            [totalRecord]="totalRecord" [columns]="columns" (page)="onPageChange($event)" [pageIndex]="pageIndex"
            [isLoading]="isLoading" [startRecord]="searchModel.startrecord">
            <custom-mat-column columnName="actions">
              <ng-template let-item>
                <button mat-icon-button (click)="viewDetail(item)">
                  <mat-icon svgIcon="ic_xem" matTooltip="{{'change_card.view' | translate}}">
                  </mat-icon>
                </button>
              </ng-template>
            </custom-mat-column>
          </common-list>
        </mat-card>
      </mat-accordion>
    </div>
  </div>
</form>
