<page-header></page-header>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px" fxLayoutGap.xs="0">
  <div class="title-1" fxFlex="25%" fxFlex.xs="100%">
    <div class="titlle-first">KHÁCH HÀNG</div>
    <div class="img-number">
      <mat-icon class="material-icons.color_white"
        style="-webkit-text-fill-color:white;font-size: 80px;padding: 5px 20px 5px 30px; height: 100px; width: 100px;">
        how_to_reg</mat-icon>
      <span class="text-number">{{totalCustomer}}</span>
    </div>
    <mat-progress-bar mode="mode" value="50"></mat-progress-bar>

  </div>
  <div class="title-2" fxFlex="25%" fxFlex.xs="100%">
    <div class="titlle-second">HỢP ĐỒNG</div>
    <div class="img-number">
      <mat-icon class="material-icons.color_white"
        style="-webkit-text-fill-color:white;font-size: 80px;;padding: 5px 20px 5px 30px; height: 100px; width: 100px;">
        add_to_photos</mat-icon>
      <span class="number-text" class="text-number">{{totalContract}}</span>
    </div>
    <mat-progress-bar mode="mode" value="60"></mat-progress-bar>

  </div>
  <div class="title-3" fxFlex="25%" fxFlex.xs="100%">
    <div class="titlle-third">PHƯƠNG TIỆN</div>
    <div class="img-number">
      <mat-icon class="material-icons.color_white"
        style="-webkit-text-fill-color:white;font-size: 80px;;padding: 5px 20px 5px 30px;  height: 100px; width: 100px;">
        directions_car</mat-icon>
      <span class="number-text" class="text-number">{{totalVehicle}}</span>
    </div>
    <mat-progress-bar mode="mode" value="63"></mat-progress-bar>

  </div>
  <div class="title-4" fxFlex="25%" fxFlex.xs="100%">
    <div class="titlle-four">HỒ SƠ</div>
    <div class="img-number">
      <mat-icon class="material-icons.color_white"
        style="-webkit-text-fill-color:white;font-size: 80px;;padding: 5px 20px 5px 30px;  height: 100px; width: 100px;">
        event_note</mat-icon>
      <span class="number-text" class="text-number">{{totalContractProfile}}</span>
    </div>
    <mat-progress-bar mode="mode" value="75"></mat-progress-bar>

  </div>
</div>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px" fxLayoutGap.xs="0">
  <div class="title-left" fxFlex="16%" fxFlex.xs="100%">
    <div class="title-container">
      <div class="sub-title" fxFlex="85%">
        Đầu mối hỗ trợ phân hệ người dùng
      </div>
      <div class="image-icon-right" fxFlex="15%">
        <mat-icon style="-webkit-text-fill-color:white;float: right;">account_circle</mat-icon>
      </div>
    </div>
    <div class="content-main">
      <div class="content-help">Phùng Văn Đức - 0983140218</div>
      <div class="content-help">Nguyễn Ngọc Hà - 0968123568</div>
    </div>
  </div>
  <div class="title-left" fxFlex="16%" fxFlex.xs="100%">
    <div class="title-container-1">
      <div class="sub-title" fxFlex="85%">
        Đầu mối hỗ trợ phân hệ CRM
      </div>
      <div class="image-icon-right" fxFlex="15%">
        <mat-icon style="-webkit-text-fill-color:white;float: right;">account_circle</mat-icon>
      </div>
    </div>
    <div class="content-main-1">
      <div class="content-help">Phùng Văn Đức - 0983140218</div>
      <div class="content-help">Nguyễn Ngọc Hà - 0968123568</div>
    </div>
  </div>
  <div class="title-left" fxFlex="16%" fxFlex.xs="100%">
    <div class="title-container-2">
      <div class="sub-title" fxFlex="85%">
        Đầu mối hỗ trợ phân hệ Bindling
      </div>
      <div class="image-icon-right" fxFlex="15%">
        <mat-icon style="-webkit-text-fill-color:white;float: right;">account_circle</mat-icon>
      </div>
    </div>
    <div class="content-main-2">
      <div class="content-help">Phùng Văn Đức - 0983140218</div>
      <div class="content-help">Nguyễn Ngọc Hà - 0968123568</div>
    </div>
  </div>
  <div class="title-left" fxFlex="16%" fxFlex.xs="100%">
    <div class="title-container-3">
      <div class="sub-title" fxFlex="85%">
        Đầu mối hỗ trợ phân hệ Đối Soát
      </div>
      <div class="image-icon-right" fxFlex="15%">
        <mat-icon style="-webkit-text-fill-color:white;float: right;">account_circle</mat-icon>
      </div>
    </div>
    <div class="content-main-3">
      <div class="content-help">Phùng Văn Đức - 0983140218</div>
      <div class="content-help">Nguyễn Ngọc Hà - 0968123568</div>
    </div>
  </div>
  <div class="title-left" fxFlex="16%" fxFlex.xs="100%">
    <div class="title-container">
      <div class="sub-title" fxFlex="85%">
        Đầu mối hỗ trợ phân hệ Hậu Kiểm Bất Thường
      </div>
      <div class="image-icon-right" fxFlex="15%">
        <mat-icon style="-webkit-text-fill-color:white;float: right;">account_circle</mat-icon>
      </div>
    </div>
    <div class="content-main">
      <div class="content-help">Phùng Văn Đức - 0983140218</div>
      <div class="content-help">Nguyễn Ngọc Hà - 0968123568</div>
    </div>
  </div>
  <div class="title-left" fxFlex="16%" fxFlex.xs="100%">
    <div class="title-container-1">
      <div class="sub-title" fxFlex="85%">
        Đầu mối hỗ trợ phân hệ Hóa Đơn
      </div>
      <div class="image-icon-right" fxFlex="15%">
        <mat-icon style="-webkit-text-fill-color:white;float: right;">account_circle</mat-icon>
      </div>
    </div>
    <div class="content-main-1">
      <div class="content-help">Phùng Văn Đức - 0983140218</div>
      <div class="content-help">Nguyễn Ngọc Hà - 0968123568</div>
    </div>
  </div>
</div>
